In [287]:
# Import libearies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.api.types import is_numeric_dtype
import seaborn as sns
from sklearn.model_selection import train_test_split

In [288]:
# Import data from txt format to dataframe
df = pd.read_csv("746Data.txt", delimiter=",",  names=["Peptides", "Result"])
df.head()

   Peptides  Result
0  AAAKFERQ      -1
1  AAAMKRHG      -1
2  AAAMSSAI      -1
3  AAKFERQH      -1
4  AAKFESNF      -1

In [289]:
# Seperate all amino acids
peptides = np.array([[df["Peptides"][i][j] for i in range(df.shape[0])] for j in range(8)])
peptides.shape

(8, 746)

In [290]:
# Store the seperated amino acids into a dataframe
df2 = pd.DataFrame(peptides.T, columns=list('ABCDEFGH'))
df2.shape
df2.head()

   A  B  C  D  E  F  G  H
0  A  A  A  K  F  E  R  Q
1  A  A  A  M  K  R  H  G
2  A  A  A  M  S  S  A  I
3  A  A  K  F  E  R  Q  H
4  A  A  K  F  E  S  N  F

In [291]:

df = df.assign(**df2)
df.head()

   Peptides  Result  A  B  C  D  E  F  G  H
0  AAAKFERQ      -1  A  A  A  K  F  E  R  Q
1  AAAMKRHG      -1  A  A  A  M  K  R  H  G
2  AAAMSSAI      -1  A  A  A  M  S  S  A  I
3  AAKFERQH      -1  A  A  K  F  E  R  Q  H
4  AAKFESNF      -1  A  A  K  F  E  S  N  F

In [292]:
df = df.drop(columns="Peptides", axis=0)
df.head()

   Result  A  B  C  D  E  F  G  H
0      -1  A  A  A  K  F  E  R  Q
1      -1  A  A  A  M  K  R  H  G
2      -1  A  A  A  M  S  S  A  I
3      -1  A  A  K  F  E  R  Q  H
4      -1  A  A  K  F  E  S  N  F

In [293]:
x = df.iloc[:, [1,2,3,4,5,6,7,8]].values
y = df.iloc[:, [0]].values
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state=0)

In [296]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline

# Create some toy data in a Pandas dataframe
# x_data_set = (df.drop(columns = ["Complaint-Status"], axis=0))

class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)
    
df = MultiColumnLabelEncoder(columns = df.columns).fit_transform(df)

In [299]:
x = df.iloc[:, [1,2,3,4,5,6,7,8]].values
y = df.iloc[:, [0]].values
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state=0)

In [300]:
df.head()

   Result  A  B  C   D   E   F   G   H
0       0  0  0  0   8   4   3  14  13
1       0  0  0  0  10   8  14   6   5
2       0  0  0  0  10  15  15   0   7
3       0  0  0  8   4   3  14  13   6
4       0  0  0  8   4   3  15  11   4

In [307]:
# from sklearn.preprocessing import  StandardScaler
# sc_x = StandardScaler()
# x_train = sc_x.fit_transform(x_train)
# x_test = sc_x.fit_transform(x_test)


from sklearn.linear_model import LogisticRegression
classify = LogisticRegression(random_state=0)
classify.fit(x_train, y_train)

y_pred = classify.predict(x_test)

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

# from matplotlib.colors import ListedColormap
# x_set, y_set = x_train, y_train 
# x1, x2 = np.meshgrid(np.arange(start = x_set[:, 0].min() - 1, stop = x_set[:, 0].max() + 1, step = 0.01),
#                      np.arange(start = x_set[:, 1].min() - 1, stop = x_set[:, 1].max() + 1, step = 0.01))
# plt.contourf(x1, x2, classify.predict(np.array([x1.ravel(), x2.ravel()]).T).reshape(x1.shape), 
#              alpha = 0.75, cmap = ListedColormap(("purple", "pink")))

# plt.xlim(x1.min(), x1.max())
# plt.ylim(x2.min(), x2.max())

# for i,j in enumerate(np.unique(y_set)):
#     plt.scatter(x_set[y_set == j,0], x_set[y_set == j,1],
#                c = ListedColormap(("yellow", "orange"))(i), label = j)

# plt.scatter(x_test, y_pred, color = ("pink", "purple"))
# plt.title("Logistic Regression")
# plt.xlabel("x_test_data")
# plt.ylabel("prediction")
# plt.legend()
# plt.show()

[[37 46]
 [36 68]]

/home/admin1/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)